<mat-toolbar class="header-style">
  <mat-toolbar-row>
    <mat-icon mat-list-icon style="color:#fab4ff; margin-top: -5px; font-size: xx-large; padding-right:15px;">perm_identity</mat-icon> 
    <span style="color: #03ebff;">Customer Details Portal</span>
    
  </mat-toolbar-row>
</mat-toolbar>
<div style="width:100%; justify-content: right; direction: rtl;" >  
  <button  mat-raised-button color="primary" (click)="onReload()">Reload</button>
</div>
 <div class="example-sidenav-content">
   <router-outlet></router-outlet>
 </div>
  